a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.Title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}
.Animalname{
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
}
.boxcontainer{
    margin-top: 40px;
}
.box{
    height: 118px;
    width: 178px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.image_atag{
    height: inherit;
    width: inherit;
}
.image_div{
    height: inherit;
    width: inherit;
}
.AnimalImg{
    height: inherit;
    width: inherit;
}

.maincontainer{
    padding-right: 10px;
    padding-left: 80px;
}
.boxcontainer{
    text-align:center;
    margin-right: 50px;
}
/* 여기 까지는 box container 스타일 코드 */
.explaincontainer{
    margin-top: 40px;
    padding-bottom: 50px;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 0px;
}

.explain{
    font-size: 15px;
    font-weight: bold;
    padding-right: 700px;
}

.imagezone{
    margin-top: 30px;
    margin-bottom: 90px;
}
.image_explain{
    font-weight: bold;
    font-size: 20px;
}